<!--
  The Pannel on right side (Desktop views)
  v2.0
  https://github.com/cotes2020/jekyll-theme-chirpy
  © 2017-2019 Cotes Chung
  MIT License
-->

<div id="panel-wrapper" class="col-xl-3 pl-2 text-muted topbar-down">

  <div class="access">

  {% if site.data.updates %}
    {% assign MAX_SIZE = 5 %}
    {% assign sum = 0 %}
    {% assign sort_list = "" | split: "" %}

    {% for entry in site.data.updates %}
      {% capture elem %}
        {{- entry.lastmod -}}::{{- entry.filename -}}
      {% endcapture %}
      {% assign sort_list = sort_list | push: elem %}
    {% endfor %}

    {% assign sort_list = sort_list | sort | reverse %}

    {% if sort_list.size > 0 %}

    <div id="access-lastmod" class="post">
      <h3 data-toc-skip>
        {{- site.data.label.panel.lastmod -}}
      </h3>
      <ul class="post-content pl-0 pb-1 ml-1 mt-2">

      {% for item in sort_list %}
        {% assign post_url = item | split: "::" | last | prepend: "/posts/" | append: "/" %}
        {% assign post = site.posts | where: "url", post_url | first %}

        {% if post %}
          {% assign url = post.url | prepend: site.baseurl %}

          <li><a href="{{ url }}">{{ post.title }}</a></li>

          {% assign sum = sum | plus: 1 %}
          {% if sum >= MAX_SIZE %} {% break %} {% endif %}

        {% endif %}

      {% endfor %}

      </ul>
    </div><!-- #access-lastmod -->

    {% endif %}

  {% endif %} <!-- site.data.updates -->

  </div> <!-- .access -->

  {% if page.layout == 'post' and site.toc and page.toc %}
  <div id="toc-wrapper" class="pl-0 pr-4 mb-5">
    <h3 data-toc-skip class="pl-3 pt-2 mb-3">
      {{- site.data.label.panel.toc -}}
    </h3>
    <nav id="toc" data-toggle="toc"></nav>
  </div>
  {% endif %}

</div> <!-- #panel-wrapper -->
