---
layout: default
# The posts' layout
# v2.0
# https://github.com/cotes2020/jekyll-theme-chirpy
# © 2017-2019 Cotes Chung
# MIT Licensed
---

<div class="row">

  <div id="post-wrapper" class="col-12 col-lg-11 col-xl-8">

    <div class="post pl-1 pr-1 pl-sm-2 pr-sm-2 pl-md-4 pr-md-4">

      <h1 data-toc-skip>{{ page.title }}</h1>

      <div class="post-meta text-muted d-flex flex-column">
        <!-- Published date and author -->
        <div>
          Posted
          <span class="timeago" data-toggle="tooltip" data-placement="bottom"
            title="{{ page.date | date: site.data.date_format.tooltip }}">
            {{ page.date | date: site.data.date_format.post }}
            <i class="unloaded">{{ page.date | date_to_xmlschema }}</i>
          </span>
          by
          <span class="author">
            {% if page.author %}
            {{ page.author }}
            {% else%}
            {{ site.author }}
            {% endif %}
          </span>
        </div>

        <!-- lastmod -->
        {%- capture filename -%}
        {{ page.url | split: "/" | last }}
        {%- endcapture -%}

        {% assign record = site.data.updates | where: "filename", filename |
        first %}

        {% if record %}
        <div>
          Updated
          <span class="timeago lastmod"
            data-toggle="tooltip" data-placement="bottom"
            title="{{ record.lastmod | date: site.data.date_format.tooltip }}">
            {{ record.lastmod | date: site.data.date_format.post }}
            <i class="unloaded">{{ record.lastmod | date_to_xmlschema}}</i>
          </span>
        </div>
        {% endif %}

        <!-- page views -->
        {% if site.google_analytics.pv.enabled %}
        <div>
          <span id="pv" class="pageviews"><i class="fas fa-spinner fa-spin
              fa-fw"></i></span>
          views
        </div>
        {% endif %}

      </div> <!-- .post-meta -->

      <div class="post-content">

        {% if page.image %}
        <img src="{{ page.image }}">
        {% endif %}

        {{ content }}

      </div>

      <div class="post-tail-wrapper text-muted">

        <div class="post-tail-bottom
          d-flex justify-content-between align-items-center pt-5 pb-2">
          {% if site.data.rights.license %}
          <div class="license-wrapper">
            This post is licensed under
            <a href="{{ site.data.rights.license.link }}">{{
              site.data.rights.license.name }}</a>
            by the author.
          </div>
          {% endif %}

          {% include post-sharing.html %}

        </div><!-- .post-tail-bottom -->

      </div><!-- div.post-tail -->

    </div> <!-- .post -->

  </div> <!-- #post-wrapper -->

  {% include panel.html %}

</div> <!-- .row -->

<div class="row">
  <div id="post-extend-wrapper" class="col-12 col-lg-11 col-xl-8">

    <div class="pl-1 pr-1 pl-sm-2 pr-sm-2 pl-md-4 pr-md-4">

      {% include post-nav.html %}

      {% if site.disqus.comments and page.comments %}
      {% include disqus.html %}
      {% endif %}

      {% include related-posts.html %}

    </div> <!-- .pl-1 pr-1 -->

  </div> <!-- #post-extend-wrapper -->

</div> <!-- .row -->

{% include lozad.html %}
